.Pokemon{
    margin-top:2rem ;
    flex-basis: 20%;
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-image{

    height: 150px;
    max-height: 80%;
    margin-top: 1rem;

}
.pokemon-name{
    font-size: large;
    letter-spacing: 0.5rem;
}

.Pokemon:hover{
    background-color: blanchedalmond;
}